.anonymous-list-wrap
  padding:0
  margin:0
  height:96vh;
  border:2px solid green
.nav
  list-style:none
  display:flex
  display:-webkit-flex
  justify-content:space-around
  background-color:#ccc
  li
    width:25%
    font-size: 16px
    line-height: 40px
    text-align: center
    a
      color: #333
      text-decoration: none
li,h1,h2
  line-height: 40px
  font-size: 16px
